<div class="well">
  <div class="panel-heading c-list">
    <span class="title">Produtos</span>
    <ul class="pull-right c-controls">
      <li>
        <a class="btn btn-success" ng-click="open()">Adicionar Produto</a>
      </li>
    </ul>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12">
      <div class="input-group c-search">
        <input type="text" class="form-control" id="product-list-search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
        </span>
      </div>
    </div>
  </div>

</div>
